<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ini yang mau aku sampein</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="background-color: rgb(31, 31, 31);">
    <audio hidden autoplay loop>
        <source src="../asset/img/y2mate.com - nadhif basalamah  penjaga hati Official Lyric Video.mp3" type="audio/mp3">
    </audio>

    <div class="ms-4 justify-content-center">
        <h1 class="text-center me-4 mt-5 mb-3 text-white">Hallo Feliza</h1>
        <div class="container row col-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-right">Sedikit cerita tentang kamu dari aku maaf jika ini bikin kamu malas membaca hehe</p>
                  </div>
                <img src="../asset/img/feli.jpeg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">
                <div class="card-body">
                  <p class="card-text">Feliza atau yang dulu sering aku sebut tayo hahaha, nama yang kamu buat bercandaan dulu tp aku suka nama itu, karena itu yang bikin kita mulai deket <br><br></p>
                  <p class="card-text">Jika aku matahari, mungkin kamu bulannya</p>
                  <p class="card-text">Jika aku adalah hujan, kamu lah pelanginya</p>
                  <p class="card-text">Jika aku serangga, kamu adalah sala satu bunga yang sedang mekar <br><br></p>
                  <p class="card-text">Dulu waktu kita baru dekat aku ngerasa kalo liat kamu beda banget rasanya, dulu memang aku belum mengenal kamu seutuhnya dan aku tidak banyak tau tentang kamu. Dulu aku waktu kelas sebelas awal apa lagi waktu classmeet kamu mulai singgah di ruanghatiku, sampai aku sadar sepertinya bukan aku yang kamu inginkan, kamu sangat dekat dengan seseorang waktu itu, hehe itu membuat aku sadar si kalo bukan aku yang kamu mau.</p>
                  <p class="card-text">Itu membuat aku mundur perlahan aku mencoba untuk tidak memikirkan mu lagi aku selalu berusaha setiap hari hehe</p>
                </div>
                <img src="../asset/img/feli dan vindra.jpeg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">

                <p class="card-text">Hallo hehe ngga kerasa udah 1 tahun lalu aku memendam perasaan ini, hingga yang kamu tau aku sempat dekat orang lain waktu itu, yah tapi itu udah lama.</p>
                <p class="card-text">Ternyata rasa yang dulu aku pendam, rasa suka ke kamu feli tumbuh lagi, seiring berjalannya waktu aku ngerasa rasa ini tumbuh sangat cepat. Begitu hebat kamu sampai rasa ini tumbuh begitu cepat, aku ngga mau ngulang kesalahan ku yang dulu lagi, aku pengin jujur ke kamu ntah nanti aku dan kamu akan bagaimana. <br><br></p>
                <p class="card-text">Feli i have crush on you</p>
                <p class="card-text">Rasa yang udah lama banget aku pendam akhirnya aku sampaikan juga pada mu, terimakasi banyak buat kamu feli udah bikin setiap hariku kembali berwarna, dan terimakasih juga udh mau baca ini hehe, selanjutnya kita obrolkan di WhatsApp aja yah masi banyak banget yang pengin aku ceritain kekamu</p>
                <p class="card-text">Sekali lagi terimakasih</p>
                <p class="card-text text-right">18 Oktober 2023 <br> Vindra Arya Yulian</p>
              </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>