<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ini yang mau aku sampein</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/css/bootstrap-5.3.0-dist/css/bootstrap.css">
  </head>
  <body style="background-color: rgb(31, 31, 31);">
    <audio hidden autoplay loop>
        <source src="../asset/img/y2mate.com - nadhif basalamah  penjaga hati Official Lyric Video.mp3" type="audio/mp3">
    </audio>

    <div class="ms-4 justify-content-center">
        <h1 class="text-center me-4 mt-5 mb-3 text-white">Hallo Feliza</h1>
        <div class="container row col-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card mx-auto mb-5" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-right">Sedikit cerita dari aku, tentang kamu manusia yang bisa kusebut sebagai langit favoritku, semoga kamu mau ngeluangin sedikit waktu kamu buat baca ceritaku ini dan semoga apa yang kutuliskan bisa sampai kehatimu, maaf kalau ini buat kamu males baca hehe.</p>
                  </div>
                <img src="../asset/img/feli.jpeg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">
                <div class="card-body">
                  <p class="card-text">Selamat pagi, selamat siang <br> selamat sore, selamat malam, <br>apa pun itu kapan pun kamu membacanya.</p>
                  <p class="card-text">Feliza atau yang dulu sering aku panggil tayo hahaha, nama yang kamu buat bercandaan dulu tp aku suka nama itu, karena itu yang bikin kita mulai deket. Kamu dengan segala keceriaanmu, <br>Kamu dengan apa adanya diri kamu, itu sudah lebih cukup dari apapun. <br><br></p>
                  <p class="card-text">Jika aku bintang, kamu adalah bulannya <br> Jika aku adalah hujan, kamu lah pelanginya <br>Jika aku serangga, kamu adalah bunga yang sedang mekar <br><br></p>
                  <p class="card-text">Dulu waktu kita baru deket aku ngerasa kalo liat kamu beda banget rasanya, dulu emang aku belum kenal kamu seutuhnya dan aku ngga banyak tau tentang kamu. Dulu waktu kelas sebelas awal rasa suka ke kamu mulai ada, sampe aku sadar kayaknya bukan aku yang kamu pengin, kamu lagi dekat sama seseorang waktu itu, hehe itu buat aku sadar si kalo bukan aku yang kamu mau.</p>
                  <p class="card-text">Itu buat aku mundur perlahan-lahan, aku nyoba buat ngga mikirin kamu lagi, aku selalu berusaha ngelupain itu setiap hari hehe.</p>
                </div>
                <img src="../asset/img/feli dan vindra.jpeg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">

                <p class="card-text mt-3">Hallo hehe ngga kerasa udah 1 tahun lalu aku pendam perasaan ini, sampe yang kamu tau aku sempet dekat sama orang lain waktu itu, yah tapi itu udah lama.</p>
                <p class="card-text">Ternyata rasa yang dulu aku pendam, rasa suka ke kamu feli tumbuh lagi, seiring berjalannya waktu aku ngerasa rasa ini tumbuh sangat cepat dengan alasan yang belum pernah bisa aku pahami, aku menempatkanmu menjadi bagian terbaik dihati dan pikiranku. Begitu hebat kamu sampai rasa ini tumbuh begitu cepat, aku ngga mau ngulang kesalahan ku yang dulu lagi, aku pengin jujur ke kamu ntah nanti aku dan kamu akan bagaimana. <br><br></p>

                <img src="../asset/img/6472069.jpg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">

                <p class="card-text mt-3">Feli i have crush on you</p>
                <p class="card-text">Rasa yang udah lama banget aku pendam akhirnya aku sampein juga ke kamu fel, <br> Aku emang ngga pandai merangkai kata yang indah hehe, ngga pandai menyuarakan isi hatiku, dan mungkin caraku mencintaimu ngga seperti manusia lain pada umumnya, aku mencintaimu tanpa sebab, tapi itu tumbuh dengan sendirinya. <br> mungkin kalimat di atas sedikit rumit yah hehe tapi caraku mencintaimu ngga serumit itu, aku mencintaimu.</p>
                <p class="card-text">Maaf ini ngga ku ucapan langsung di depanmu feli, aku juga ngga nyertain kalimat-kalimat yang indah, ini hanya kutuliskan dengan kalimat-kalimat sederhana dengan perasaan luar biasa yang ada dipikiran dan hatiku. Tapi dibalik itu kusertakan harapan dan doa terbaik buat kamu feli.</p>
                <p class="card-text">Sepanjang apapun yang kutuliskan sekarang ini, itu belum bisa menggambarkan bagaimana baikmu, aku ingin mencintaimu dengan terang dan terus berusaha memperbaiki diriku. Serta aku ingin mencintaimu sebaik-baiknya bukan hanya sekedar singgah melainkan sungguh.</p>
                <p class="card-text">Aku tidak memaksa mendung untuk hujan, <br>Seperti aku yang ngga bisa memaksa kamu buat membalas perasaanku ini, setidaknya aku udah jujur ke kamu feli tentang apa yang ada didalam pikiran dan hatiku.</p>
                <p class="card-text">Makasi banget buat kamu feli udah bikin setiap hariku kembali berwarna, dan makasih juga udh mau baca ini hehe, sama maaf kalo kata-kata sama kalimatnya berantakan.</p>
                <p class="card-text">Sekali lagi makasih banget feli</p>
                <p class="card-text text-right mb-4">22 Oktober 2023 <br> Vindra Arya Yulian</p>
              </div>
        </div>
    </div>

    <script src="../asset/css/bootstrap-5.3.0-dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>