<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ini yang mau aku sampein</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="background-color: rgb(31, 31, 31);">
    <audio hidden autoplay loop>
        <source src="../asset/img/y2mate.com - nadhif basalamah  penjaga hati Official Lyric Video.mp3" type="audio/mp3">
    </audio>

    <div class="ms-4 justify-content-center">
        <h1 class="text-center me-4 mt-5 mb-3 text-white">Hallo Feliza</h1>
        <div class="container row col-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card mx-auto mb-5" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-right">Sedikit cerita tentang kamu dari aku, maaf kalau ini buat kamu males baca hehe</p>
                  </div>
                <img src="../asset/img/feli.jpeg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">
                <div class="card-body">
                  <p class="card-text">Feliza atau yang dulu sering aku sebut tayo hahaha, nama yang kamu buat bercandaan dulu tp aku suka nama itu, karena itu yang bikin kita mulai deket <br><br></p>
                  <p class="card-text">Jika aku bintang, kamu adalah bulannya</p>
                  <p class="card-text">Jika aku adalah hujan, kamu lah pelanginya</p>
                  <p class="card-text">Jika aku serangga, kamu adalah salah satu bunga yang sedang mekar <br><br></p>
                  <p class="card-text">Dulu waktu kita baru dekat aku ngerasa kalo liat kamu beda banget rasanya, dulu emang aku belum kenal kamu seutuhnya dan aku ngga banyak tau tentang kamu. Dulu waktu kelas sebelas awal apa lagi waktu classmeet rasa suka ke kamu mulai ada, sampe aku sadar kayaknya bukan aku yang kamu pengin, kamu lagi dekat sama seseorang waktu itu, hehe itu buat aku sadar si kalo bukan aku yang kamu mau.</p>
                  <p class="card-text">Itu buat aku mundur pelan-pelan, aku nyoba buat ngga mikirin kamu lagi, aku selalu berusaha ngelupain itu setiap hari hehe</p>
                </div>
                <img src="../asset/img/feli dan vindra.jpeg" class="card-img-top pt-2" style="border-radius: 10px 10px 10px 10px;" alt="...">

                <p class="card-text mt-3">Hallo hehe ngga kerasa udah 1 tahun lalu aku pendam perasaan ini, sampe yang kamu tau aku sempet dekat sama orang lain waktu itu, yah tapi itu udah lama.</p>
                <p class="card-text">Ternyata rasa yang dulu aku pendam, rasa suka ke kamu feli tumbuh lagi, seiring berjalannya waktu aku ngerasa rasa ini tumbuh sangat cepat. Begitu hebat kamu sampai rasa ini tumbuh begitu cepat, aku ngga mau ngulang kesalahan ku yang dulu lagi, aku pengin jujur ke kamu ntah nanti aku dan kamu akan bagaimana. <br><br></p>
                <p class="card-text">Feli i have crush on you</p>
                <p class="card-text">Rasa yang udah lama banget aku pendam akhirnya aku sampein juga ke kamu fel, makasi banget buat kamu feli udah bikin setiap hariku kembali berwarna, dan makasih juga udh mau baca ini hehe, sama maaf kalo kata-kata sama kalimatnya berantakan, selanjutnya kita obrolin di WhatsApp aja yah masi banyak banget yang pengin aku ceritain ke kamu hehe</p>
                <p class="card-text">Sekali lagi makasih banget feli</p>
                <p class="card-text text-right mb-4">18 Oktober 2023 <br> Vindra Arya Yulian</p>
              </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>